/* 
#FBFDFF
#D3D0CA
#7EE5EE
#12A6DB
#549063
#102829
#2E3B42 
*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
}



footer {
    height: 10rem;
    width: 100%;
    background-color: #2E3B42;
}

body {
    background-color: ;
}

